
DetailsWindow {
    padding: 10px 5px;
}

DetailsWindow #TitleLabel {
    
}

DetailsWindow #HeaderRow {
    flex-direction: row;
    min-height: 25px;
    margin: 5px 5px 0 5px;
}

#SplitContainer {
    padding: 5px 5px;
}

#ComponentTree {
    flex-grow: 4;
    flex-shrink: 2;
}

