
DetailsWindow {
    padding: 10px 5px;
}

DetailsWindow #TitleLabel {
    margin: 5px 0 0 0;
    margin: 0 0 0 10px;
}

#ComponentTree {
    flex-grow: 4;
    flex-shrink: 2;
    background-color: green;
}

