
* {
    font-name: Roboto;
}

CDockSpace {
    background: rgb(21, 21, 21);
}

CDockSplitView::splitter {
    background: rgb(0, 0, 0);
}

#MinorDockSpace {
    width: 100%;
    flex-grow: 4;
    flex-shrink: 2;
}

CDockWindow {
    background: rgb(36, 36, 36);
}

#ToolBar {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 45px;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

CButton {
    background: rgb(56, 56, 56);
    flex-direction: row;
    min-width: 40px;
    min-height: 20px;
    padding: 15px 5px;
    border-radius: 5px 5px;
    border-color: rgb(24, 24, 24);
    border-width: 1px;
}

CButton:hovered {
    background: rgb(95, 95, 95);
}

CButton:pressed {
    background: rgb(50, 50, 50);
    padding: 15px 6px 15px 4px;
}

CButton:disabled {
    background: rgb(50, 50, 50);
    color: rgb(128, 128, 128);
}

CButton::alternate {
    background: rgb(0, 112, 224);
    flex-direction: row;
    min-width: 40px;
    min-height: 20px;
    padding: 15px 5px;
    border-radius: 5px 5px;
    border-color: rgb(24, 24, 24);
    border-width: 1px;
}

CButton::alternate:hovered {
    background: rgb(14, 134, 255);
}

CButton::alternate:pressed {
    background: rgb(0, 100, 200);
    padding: 15px 6px 15px 4px;
}

CButton::alternate:disabled {
    background: rgb(0, 85, 171);
    color: rgb(128, 128, 128);
}

CLabelButton {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    cursor: hand;
}

CTextInput {
    color: white;
    cursor: edit;
    padding: 5px 4px;
    background: rgb(15, 15, 15);
    border-width: 1.25px;
    border-color: rgb(60, 60, 60);
    border-radius: 5px 5px;
    min-height: 22.5px;
    min-width: 40px;
}

CTextInput:hovered {
    border-color: rgb(74, 74, 74);
}

CTextInput:focused {
    border-color: rgb(0, 112, 224);
}

CTextInput:disabled {
    border-color: rgb(50, 50, 50);
    background-color: rgb(26, 26, 26);
    color: rgb(140, 140, 140);
}

CCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 3px 3px 3px 3px;
    background: rgb(15, 15, 15);
    border-width: 1.25px;
    border-color: rgb(60, 60, 60);
    color: rgb(0, 112, 224);
}

CCheckBox:hovered {
    border-color: rgb(74, 74, 74);
}

CCheckBox:pressed {
    color: rgb(0, 60, 112);
}

CCheckBox:disabled {
    border-color: rgb(50, 50, 50);
    background-color: rgb(26, 26, 26);
    color: rgb(0, 60, 112);
}

CTreeView {
    background-color: rgb(26, 26, 26);
    flex-grow: 4;
    flex-shrink: 2;
}

CTreeView::alternate {
    background-color: rgb(21, 21, 21);
}

CTreeView::header {
    color: white;
    background-color: rgb(47, 47, 47);
    font-size: 14px;
    padding: 10px 5px;
}

CTreeView::header:hovered {
    background-color: rgb(56, 56, 56);
    font-size: 14px;
}

CTreeView::cell {
    color: white;
    padding: 5px 5px;
    font-size: 14px;
}

CTreeView::cell:hovered {
    background-color: rgb(40, 40, 40);
}

CTreeView::cell:active {
    background-color: rgb(64, 87, 111);
}

CTreeView::cell:active:focused {
    background-color: rgb(0, 112, 224);
}

CMenuItem {
    font-size: 13px;
    flex-direction: row;
    align-items: center;
    padding: 15px 5px 15px 5px;
}

CMenuItem:hovered, CMenuItem:active {
    background: rgb(0, 112, 224);
}

CMenuItem:pressed {
    padding: 15px 6.5px 15px 3.5px;
}

CMenuItem #Label {
    margin: 0px 0px 10px 0px;
}

CMenu {
    padding: 0px 10px;
    background: rgb(56, 56, 56);
    border-color: rgb(63, 63, 63);
    border-width: 1px;
    flex-direction: column;
    min-width: 150px;
}

.Spacer {
    flex-grow: 4;
    flex-shrink: 2;
}

#ForwardArrow {
    width: 12px;
    height: 12px;
}

CTabWidget::tab {
    background-color: rgba(0, 0, 0, 0);
    padding: 15px 7px;
    border-radius: 5px 5px 0px 0px;
}

CTabWidget::tab:hovered {
    background-color: rgb(33, 33, 33);
}

CTabWidget::tab:active {
    background-color: rgb(36, 36, 36);
}

#TabWidget {
    flex-grow: 4;
    flex-shrink: 2;
}

CDockWindow#Second {
    background: black;
}

CScrollArea::scroll-bar {
    background-color: rgb(87, 87, 87);
}

CScrollArea::scroll-bar:active {
    background-color: rgb(128, 128, 128);
}

CListWidget {
    flex-direction: column;
    align-items: stretch;
    border-width: 1.5px;
    border-color: rgb(64, 64, 64);
    height: 250px;
    padding: 0px 0px 10px 0px;
}

CToolWindow::title-bar {
    background-color: rgb(26, 26, 26);
    font-size: 14px;
    color: white;
}

CToolWindow {
    background-color: rgb(36, 36, 36);
}

#TitleLabel, .Title {
    font-size: 18px;
}

CListWidgetItem {
    padding: 10px 10px;
}

CListWidgetItem:hovered {
    background-color: rgb(64, 87, 111);
}

CListWidgetItem:active {
    background-color: rgb(0, 112, 224);
}

#HStack, .HStack {
    flex-direction: row;
    align-items: center;
}

#VStack, .VStack {
    flex-direction: column;
}

.IconButton {
    border-width: 0.0px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.IconButton:hovered {
    background-color: rgb(56, 56, 56);
}

.IconButton:pressed {
    background-color: rgb(40, 40, 40);
}

ViewportWindow {
    background-color: black;
}

ViewportWindow CViewport {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

#HierarchyTreeView {
    flex-grow: 4;
    flex-shrink: 2;
}

CTreeWidget {
    background-color: rgb(26, 26, 26);
    padding: 2px 2px;
    flex-direction: column;
}

CTreeWidgetRow {
    flex-direction: row;
    padding: 7px 5px;
}

CTreeWidgetRow::alternate {
    flex-direction: row;
    padding: 7px 5px;
    background-color: rgb(21, 21, 21);
}

CTreeWidgetRow:hovered, CTreeWidgetRow::alternate:hovered {
    background-color: rgb(40, 40, 40);
}

CTreeWidgetRow:active {
    background-color: rgb(64, 87, 111);
}

CTreeWidgetRow::alternate:active {
    background-color: rgb(64, 87, 111);
}

CTreeWidgetRow:active:focused {
    background-color: rgb(0, 112, 224);
}

CTreeWidgetRow::alternate:active:focused {
    background-color: rgb(0, 112, 224);
}

CTreeWidgetItem {
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
}

CTreeWidgetItem #ArrowButton {
    background-size: contain;
    color: rgb(160, 160, 160);
    width: 10px;
    height: 10px;
}

CTreeWidgetItem #ArrowButton:hovered {
    color: rgb(220, 220, 220);
}

CSplitView::splitter {
    background-color: rgb(28, 28, 28);
}

CSplitView::splitter:active {
    background-color: rgb(96, 96, 96);
}

CCollapsibleSection {
    flex-direction: column;
    row-gap: 0;
}

CCollapsibleSection #SectionHeader {
    flex-direction: row;
    background-color: rgb(28, 28, 28);
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    column-gap: 5px;
    border-radius: 5px 5px 0 0;
}

CCollapsibleSection CImage#SectionArrow {
    width: 10px;
    height: 10px;
    color: rgb(160, 160, 160);
}

CCollapsibleSection CImage#SectionArrow:hovered {
    color: rgb(220, 220, 220);
}

CCollapsibleSection #SectionContent {
    background-color: rgb(48, 48, 48);
    flex-direction: column;
    padding: 15px 5px;
    border-radius: 0 0 5px 5px;
}

CCollapsibleSection:collapsed #SectionHeader {
    border-radius: 5px 5px 5px 5px;
}

PropertyDrawer {
    width: 100%;
    min-height: 15px;
    padding: 0 2px;
    flex-direction: row;
    align-items: stretch;
}

#PropertyEditorRowLeft {
    width: 160px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

#PropertyEditorRowRight {
    flex-grow: 3;
    flex-shrink: 1;
    flex-direction: row;
}

FieldEditor {
    flex-direction: row;
    min-width: 250px;
    font-size: 13px;
}

CTextInput#StringInput, CTextInput#NumberInput {
    min-width: 175px;
}

ColorInput {
    background-image: "/Editor/Assets/Images/GridPattern";
    background-size: contain;
    background-repeat: repeat-x;
}

VectorComponentInput {
    flex-direction: row;
    column-gap: 0;
    align-items: stretch;
    flex-grow: 2;
    flex-shrink: 1;
    border-radius: 4px 4px 4px 4px;
    padding: 12px 5px 5px 5px;
}

