
ProjectSettingsWindow {
    background-color: rgb(21, 21, 21);
    flex-direction: row;
    align-items: stretch;
}

ProjectSettingsWindow #SideBar {
    width: 300px;
    padding: 15px 10px;
    row-gap: 10px;
}

#SideBarTitle {
    font-size: 20px;
    margin: 0 0 0 5px;
}

#SideBarEntryLabel {
    margin: 10px 0 0 0;
}

ProjectSettingsWindow #ContentView {
}

