
CrystalEditorWindow::tab {
	padding: 20px 10px;
}

CWindow::tab {
    padding: 20px 10px;
}

EditorPanel::tab {
    padding: 20px 7px;
}

SceneEditorWindow {
    row-gap: 0;
}

#ProjectSettingsSplitView {
    padding: 0 0 0 35px;
}

#ProjectSettingsSplitView #SplitViewLeft {
    padding: 0 0 0 0;
}

#ProjectSettingsSplitView #SplitViewRight {
    padding: 0 0 0 0;
}

#ProjectSettingsLeftView {
    background: rgb(26, 26, 26);
    height: 100%;
}
