
SceneOutlinerPanel {
    padding: 5px 5px 5px 0px;
    flex-direction: column;
}

#SceneOutlinerTopBar {
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    width: 100%;
}

#SceneOutlinerSearchBox {
    flex-grow: 1;
    flex-shrink: 3;
}
