
SceneOutlinerPanel {
    padding: 0 0;
    flex-direction: column;
}

#SceneOutlinerTopBar {
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    align-items: flex-start;
    column-gap: 3px;
    width: 100%;
    padding: 5px 5px 5px 0px;
}

#SceneOutlinerSearchBox {
    flex-grow: 1;
    flex-shrink: 3;
    padding: 5px 1px;
    border-radius: 7.5px;
}

#SceneOutlinerTopBar CButton {
    padding: 2px 2px;
}

SceneOutlinerTree {
    flex-grow: 1;
    flex-shrink: 3;
}
