

CDockSpace {
    background: rgb(21, 21, 21);
}

CDockSplitView::splitter {
    background: rgb(0, 0, 0);
}

#MinorDockSpace {
    background: rgb(128, 0, 0);
    width: 100%;
    flex-grow: 4;
}

#SplitLeft {
    background: rgb(255, 255, 255);
}

#SplitRightBottom {
    background: rgb(0, 0, 255);
}

#SplitRightTop {
    background: rgb(0, 255, 0);
}

#ToolBar {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

#Third {
    row-gap: 10px;
}

#Button {
    background: rgb(128, 128, 0);
    width: 30px;
    height: 30px;
}

#Button:hovered {
    background: rgb(128, 0, 0);
}

#Button:pressed {
    background: rgb(0, 128, 0);
}
