
* {
    font-size: 14px;
    font-name: Roboto;
}

CDockSpace {
    background: rgb(21, 21, 21);
}

CDockSplitView::splitter {
    background: rgb(0, 0, 0);
}

#MinorDockSpace {
    background: rgb(128, 0, 0);
    width: 100%;
    flex-grow: 4;
    flex-shrink: 2;
}

#SplitLeft {
    background: rgb(255, 255, 255);
}

#SplitRightBottom {
    background: rgb(0, 0, 255);
}

#SplitRightTop {
    background: rgb(0, 255, 0);
}

#ToolBar {
    background: rgb(36, 36, 36);
    width: 100%;
    height: 40px;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

#Third {
    row-gap: 10px;
}

#Button {
    background: rgb(128, 128, 0);
    width: 30px;
    height: 30px;
}

#Button:hovered {
    background: rgb(128, 0, 0);
}

#Button:pressed {
    background: rgb(0, 128, 0);
}

CButton {
    background: rgb(56, 56, 56);
    flex-direction: row;
    min-width: 40px;
    min-height: 20px;
}

CButton::alternate {
    width: 40px;
    min-height: 20px;
    border-radius: 5px 5px;
}

CButton:hovered {
    background: rgb(95, 95, 95);
}

CButton:pressed {
    background: rgb(70, 70, 70);
}

CButton::alternate {
    background: rgb(0, 112, 224);
}

CButton::alternate:hovered {
    background: rgb(14, 134, 255);
}

CButton::alternate:pressed {
    background: rgb(0, 80, 160);
}

