
#ObjectEditorSection {
    flex-direction: column;
    justify-content: flex-start;
}

#ObjectEditorCollapsible {
    background: rgb(36, 36, 36);
    padding: 0 0 0 10px;
}

#ObjectEditorSplitView::splitter {
    background: rgb(20, 20, 20);
}

#ObjectEditorCollapsible::header {
	font-size: 16px;
	background: rgb(47, 47, 47);
	border-width: 0;
	padding: 3px 5px;
	border-radius: 0px;
}

#ObjectEditorTableWidget CTableCellWidget {
    padding: 10px 0 10px 0;
}

#FieldLabel {
    text-align: middle-left;
    height: 25px;
}

#FieldValue {
    height: 25px;
    flex-direction: column;
    align-items: flex-start;
}

#FieldValue CTextInput {
    min-width: 100px;
}
