
CWindow {
	foreground: white;
	background: rgb(36, 36, 36);
	padding: 8 25 8 10;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 5px;
}

CWindow::title-bar {
	background: rgb(20, 20, 20);
}

CWindow::title-bar:active {
	background: rgb(20, 20, 20);
}

CWindow::tab {
	background: rgb(28, 28, 28);
}

CWindow::tab:hovered {
	background: rgb(32, 32, 32);
}

CWindow::tab:active {
	background: rgb(36, 36, 36);
}

CWindow.DockSpace {
	background: rgb(21, 21, 21);
}

CLabel {
	text-align: middle-center;
}

CButton {
	padding: 10px 1px;
	border-radius: 2px;
	border-width: 1.5px;
	border-color: rgb(25, 25, 25);
	background: rgb(64, 64, 64);
}
CButton:hovered {
	background: rgb(90, 90, 90);
}
CButton:pressed {
	background: rgba(50, 50, 50);
}

CButton::alternate {
	padding: 10px 1px;
	border-radius: 2px;
	border-width: 1.5px;
	border-color: rgb(25, 25, 25);
	background: rgb(0, 112, 224);
}

CButton::alternate:hovered {
	background: rgb(14, 134, 255);
}

CButton::alternate:pressed {
	background: rgb(6, 66, 126);
}

CButton.Transparent {
	padding: 10px 2px;
	border-width: 0px;
	background: rgba(0, 0, 0, 0);
}

CButton.Transparent:hovered {
	background: rgba(70, 70, 70, 180);
}

CButton.Transparent:pressed {
	background: rgba(50, 50, 50, 180);
}

CButton.ToolBarItem {
	padding: 5px 2.5px;
	border-width: 0px;
	background: rgba(0, 0, 0, 0);
}

CButton.ToolBarItem:hovered {
	background: rgba(70, 70, 70, 180);
}

CButton.ToolBarItem:pressed {
	background: rgba(50, 50, 50, 180);
}

.ToolBarItem {
	min-height: 25px;
}

CTextInput {
	background: rgb(15, 15, 15);
	border-width: 1;
	border-radius: 2 2 2 2;
	border-color: rgb(42, 42, 42);
	padding: 3 3 3 3;
}
CTextInput::hint {
	foreground: rgba(255, 255, 255, 120);
}

CTextInput:active {
	border-color: rgba(9, 92, 174, 255);
}

CTextInput:disabled {
	background-color: rgb(56, 56, 56);
}

CTabWidget {
	width: 100%;
	height: 100%;
}

CTabWidget::tab {
	padding: 10 10 10 10;
	background: rgba(22, 22, 22, 210);
}

CTabWidget::tab:hovered {
	background: rgba(90, 90, 90, 210);
}

CTabWidget::tab:active {
	background: rgba(60, 60, 60, 255);
}

CTabWidget::tab:unfocused {
	background: rgba(22, 22, 22);
}

CTabContainerWidget {
	padding: 3 0 3 0;
}
		
CCollapsibleSection::header {
	font-size: 18px;
	background: rgb(47, 47, 47);
	border-width: 1px;
	border-color: rgb(30, 30, 30);
	padding: 3px 5px;
	border-radius: 0px;
}

CSeparator:vertical {
	border-width: 0px;
	background: rgb(26, 26, 26);
	width: 100%;
	height: 2px;
}

CSeparator:horizontal {
	border-width: 0px;
	background: rgb(26, 26, 26);
	width: 2px;
	height: 100%;
}

CMenu {
	background: rgb(50, 50, 50);
	border-width: 1px;
	border-color: rgb(26, 26, 26);
	min-width: 120px;
	min-height: 20px;
	max-width: 350px;
	padding: 0px 10px;
}

.MenuItem {
	border-width: 0px;
	border-color: rgba(0, 0, 0, 0);
	text-align: middle-left;
	padding: 10px 0 10px 0;
}

CMenuItem:hovered, CMenuItem:pressed, CMenuItem:active {
	background: rgb(0, 112, 224);
}

CMenuItem::check {
	background: rgb(30, 30, 30);
	color: white;
	border-radius: 2px;
	border-width: 1.5px;
	border-color: rgb(77, 77, 77);
}

CMenuItemHeader {
	font-size: 14px;
	color: rgb(108, 108, 108);
}

CMenuBar {
	background: rgba(0, 0, 0, 0);
	border-width: 0px;
	min-height: 25px;
	width: 100%;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.MenuBarItem {
	text-align: middle-center;
	padding: 5px 0px;
}

.MenuBarItem:hovered {
	background: rgb(0, 112, 224);
}

CPopup:title-bar, CPopup::title-bar:active {
	background: rgb(20, 20, 20);
}

CPopup {
	max-width: 250px;
	padding: 10px 30px 10px 10px;
	flex-direction: column;
	align-items: stretch;
	background: rgb(40, 40, 40);
}

CToolBar {
	padding: 5px 2.5px;
	width: 100%;
	background: rgb(36, 36, 36);
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
	font-size: 18px;
}
